<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ITAN</title>
    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #e1f2f6;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <section class="">
      <div class="">
        <h1>A bold beginning awaits</h1>
        <img src="<%= asset_url('email-image.jpg') %>" alt="ITAN email">
      </div>
      <article>
        <h2>Dear ITAN Author,</h2>
        <div>
          <p>Welcome to ITAN Global Publishing (IGP)—we’re thrilled to have you on board!</br>
          Africa is home to incredible stories and gifted storytellers. Yet, for too long, African writers have been overlooked and underserved. We all published on platforms like Amazon KDP, only to be met with countless obstacles—unfavourable algorithms, royalty systems that shortchange creators, and platforms that weren’t built with African writers in mind.
          A few indigenous publishing platforms emerged and shut down. They tried. But solving the complex puzzle of visibility and monetization for African literature requires more than just a sleek website and good intentions—it demands strategy, technology, and unwavering commitment.
          We marvel at how Publishing platforms in the West generate billions in book sales each year while we struggle. And the questions echoed in our minds:</br>
        <ul>
          <li>How do we make African stories profitable?</li>
          <li>How do we break the long-standing barriers that limit African literature?</li>
          <li>How do we take our stories beyond Africa’s borders?</li>
          <li>How do we ensure African writers are seen, heard, and paid?</li>
        </ul>
      </p>
    </div>
    <div>
      <p>
        Over time, answers began to surface—through breakthrough ideas, modern technologies, and a renewed sense of purpose. We may not have all the answers yet, but we’re moving forward with what we know. And we’re doing it with you—the African author—in mind.
        We created ITAN to solve two major challenges:
        <ul>
          <li>1.Visibility</li>
          <li>2. Monetizatio</li>
        </ul>
      </p>
      <ul>What ITAN Offers
        <li><strong>1. Multi-format Publishing Tools:​</strong>
          We begin with eBooks, but will expand to audio and print formats—so your stories can reach readers in every way possible.</li>
        <li><strong>2. Monthly Analytics:​</strong>
          Gain insight into how your book is performing through your personalized analytics dashboard. We offer author dashboard with real-time sales, downloads, and earnings.
        </li>
        <li><strong>AI-Driven Discoverability & Global Marketing:</strong>
          Through advanced algorithms and aggressive digital campaigns, we’ll get your books in front of the right readers—those who appreciate and are willing to pay for your stories.
        </li>
        <li><strong>Platform Improvements:</strong>
          Our platform is constantly evolving, as we update with new features to ensure ITAN remains the leading choice for Afrocentric publishing. Upcoming features include multilingual translation tools, hardcopy printing, audio translation and more.
        </li>
        <li><strong>International Collaborations:</strong>
          We will build international distribution via Lulu, Ingram Spark, bookshop.org, Smashwords, etc. while maintaining the IGP brand.
        </li>
        <li><strong>Author Community:</strong>
          Create an ITAN Author Academy and community that offers free courses and workshops on writing, self-editing, and book promotion.
          <p><strong>How You Can Help Us Succeed</strong>
            <ul>
              <li>
                <strong>1. Invite Other Authors:​</strong>
                Like a thriving market, the more books on our platform, the more readers we attract. Help us build a vibrant ecosystem by inviting fellow writers. A link is given to every author in the dashboard to invite other writers. Please invite other writers.
              </li>
              <li>
                <strong>2. Publish Quality Work:​</strong>
                Ensure your manuscript is well-edited and professionally formatted. Great stories deserve great presentation— hire a skilled editor, design a compelling cover, and craft a story so irresistible your readers can’t stop talking about it.
              </li>
              <li>
                <strong>3. Stay Informed:​</strong>
                We’ll periodically send you resources and training invites. Read them—they’re designed to help you grow and sell more books.
              </li>
              <li>
                <strong>4. Maintain Integrity:​</strong>
                ITAN is committed to building a trustworthy and reputable Afrocentric brand. We do not accept plagiarized or AI-generated books. We want human stories—filled with soul, emotion, and authenticity. In an era overwhelmed by AI content, real voices matter more than ever.
              </li>
              <li>
                <strong>5. Promote Your Book:​</strong>
                WDon’t stop at uploading. Share your book link, talk about it on social media, record short videos about it, and engage your audience. We’ll promote on our end, but your personal efforts make all the difference.
              </li>
            </ul>
          </li>
        </ul>
        <p>
          Together, we will change the narrative for African literature.</br>
        You create the masterpieces.</br>
      We’ll take your stories to the world.</br>
    <strong>To you, African Author.</br></strong>
  <strong>To ITAN.</br></strong>
<strong>To Africa.</br></strong>
Warm regards,</br>
<strong>ITAN Technologies LTD</br></strong>
</p>
</div>
<div>
  <p>Follow us on our social pages for inspiring stories, new releases, and author spotlights.</p>
  <a href="https://web.facebook.com/itanglobalpublishing" target="_blank" style="text-decoration: none;">
    <img src="<%= asset_url('facebook.jpg') %>" alt="facebook" style="display: block; margin: 10px 0;">
  </a>
  <a href="https://www.instagram.com/itanglobalpublishing/?igsh=MTZnMDk3MHB5MXRlNQ%3D%3D#" target="_blank" style="text-decoration: none;">
    <img src="<%= asset_url('facebook.jpg') %>" alt="instagram" style="display: block; margin: 10px 0;">
  </a>
  <a href="https://x.com/ItanGlobal?s=09&t=PW4Yzok4OT0rS6F22qhbRg" target="_blank" style="text-decoration: none;">
    <img src="<%= asset_url('facebook.jpg') %>" alt="twitter" style="display: block; margin: 10px 0;">
  </a>
  <a href="https://www.youtube.com/@itanIGP" target="_blank" style="text-decoration: none;">
    <img src="<%= asset_url('facebook.jpg') %>" alt="youtubek" style="display: block; margin: 10px 0;">
  </a>
</div>

<p>
    Thank you for reading. Whether you stay a while or just pass through, we’re glad this note found you.
        Did someone just send you a little love?​
        If this landed in your inbox thanks to a thoughtful friend (or family member), then you’ve got a good one—they clearly think you’d love what we share.
</p>

<button>
    Publish Your Fiction Books For Free
</button>

<p>
    Want in on the goodness for yourself?​
        ​Click here to subscribe and never miss another letter from us. We show up weekly—with heart, stories, and a little juice.
</p>

<footer>
    Don’t want to hear from us again? That’s totally okay (even though we’ll miss you). Unsubscribe here, no hard feelings· Notice a mix-up with your name or email? You can fix that here Preferences We’d love to call you properly.
    <p>Itan Technologies &#169 Ltd. 2025. All Rights Reserved</p>
</footer>
</article>
</section>
</body>
</html>
